:root {
    --tip-yellow: #fbde14;
    --tip-blue: #1e3b92;
    --gray: #e3e3e3;
    --label-gray: #8596ad;
    --orange: #ff8900;
    --purple: #af08dd;
    --pink: #f9538d;
    --mint: #09f1ab;
    --light-gray: #fcfcfc;
    --light-blue: #e5ecff;
    --light-yellow: #fefde6;
    --light-orange: #fffaf5;
    --light-green: #e8f8f5;
    --light-purple: #fcf6fe;
    --light-red: #fdf6f7;
    --light-mint: #f1fefc;
    --soft-gray: #f2f2f2;
    --soft-blue: #b5dafd;
    --soft-green: #CBF9BE;
    --soft-orange: #FFDEB8;
    --dark-gray: #595959;
    --dark-blue: #1e3b92;
    --dark-yellow: #e6c000;
    --dark-orange: #e67a00;
    --dark-green: #2fa30f;
    --dark-pink: #de0853;
    --dark-purple: #8007ac;
    --dark-mint: #06ac7a;
}

@font-face {
    font-family: THSarabun;
    src: url(../fonts/THSarabun.ttf);
}

html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

footer {
    padding: 30px 0;
}

main {
    margin-bottom: 10px;
}

.rounded-5{
    border-radius:25px;
}

.rounded-4{
    border-radius:15px;
}

.box-light {
    background-color: #fcfcfc;
    border-radius: 15px;
}

.border-blue {
    border-color: var(--bs-blue) !important;
}

.border-tip {
    border-color: var(--tip-blue) !important;
    box-shadow: 5px 5px 0 var(--tip-blue) !important;
}

.border-start-tip-blue{
    border-left:7px solid var(--tip-blue);
    padding-left: 7px;
}

/*.swal2-confirm {
    background-color: var(--tip-yellow) !important;
    color: var(--tip-blue) !important;
}*/

.btn{
    font-size:14px !important;
}

.btn:disabled{
    color:var(--soft-gray);
}

.btn-image{
    border: 1px solid var(--gray);
    border-radius: 5px;
    cursor:zoom-in;
}

.btn-image:hover {
    border: 1px solid var(--bs-blue);
}

.btn-icon {
    background-color: var(--light-gray);
    border: 1px solid var(--gray);
    border-radius: 15px;
    padding: 15px;
}

.btn-icon > div {
    color: var(--tip-blue);
}

.btn-icon:hover {
    border: 1px solid var(--bs-blue);
    box-shadow: var(--soft-blue) 0 0 0 5px;
    cursor: pointer;
}

.btn-circle {
    width: 40px;
    height: 40px;
    border-radius: 50% !important;
    position: relative;
    color: var(--bs-primary-text-emphasis);
}

.btn-circle:hover {
    color: var(--bs-blue) !important;
    background-color: var(--bs-gray-200);
}

.btn-circle-hover:hover {
    background-color:var(--light-blue);
}

.btn-circle-orange {
    color: var(--orange) !important;
}

.btn-circle-orange:active {
    color: var(--bs-blue) !important;
    background-color: var(--light-blue) !important;
}

.btn-link {
    color: var(--tip-blue);
    text-decoration: none;
    border-radius: 0px;
    transition: 0.5s;
}

.btn-link:hover {
    color: var(--tip-blue) !important;
}

.btn-link:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--tip-blue);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.btn-link:hover:after, .btn-link.active:after {
    transform: scaleX(1);
}

.btn-link.active {
    text-decoration:underline;
    color: var(--tip-blue)!important;
    font-weight: bolder;
}

.btn-link > .badge, .btn-link.active > .badge {
    background-color: var(--dark-gray);
}

.btn-link:hover > .badge, .btn-link.active > .badge {
    background-color: var(--tip-blue);
}


.btn-link-orange {
    color: var(--tip-blue);
    text-decoration: none;
    border-radius: 0px;
    transition: 0.5s;
}

.btn-link-orange > .badge{
    background-color:var(--tip-blue);
}

.btn-link-orange:hover {
    color: var(--orange);
}

.btn-link-orange:after {
    display: block;
    content: '';
    border-bottom: solid 2px var(--orange);
    transform: scaleX(0);
    transition: transform 250ms ease-in-out;
}

.btn-link-orange:hover:after, .btn-link-orange.active:after {
    transform: scaleX(1);
}

.btn-link-orange.active {
    color: var(--orange) !important;
}

.btn-link-orange:hover > .badge, .btn-link-orange.active > .badge {
    color:white !important;
    background-color: var(--orange) !important;
}

.badge-original {
    border: 1px solid var(--bs-green);
    color: var(--bs-green);
}

.badge-edit {
    border: 1px solid var(--bs-blue);
    color: var(--bs-blue);
}

.badge-delete {
    border: 1px solid var(--bs-danger);
    color: var(--bs-danger);
}

.badge-Approve1 {
    background-color: #fdf3cb;
    color: #bd692f;
    border-radius: 25px !important;
}

.badge-Work {
    background-color: #fdf3cb;
    color: #bd692f;
    border-radius: 25px !important;
}

.nav > .nav-link {
    color: var(--bs-gray-600);
}

.nav > .nav-link.active {
    color: var(--bs-blue);
}

.btn {
    color: var(--dark-gray);
    border-radius: 10px !important;
}

.btn-default {
    border-radius: 5px;
    color: var(--dark-gray);
    border: 1px solid var(--gray);
}

.btn-default.active{
    color: white;
    background-color: var(--bs-blue);
}

.btn-default:hover {
    border: 1px solid var(--light-blue);
    color: var(--bs-blue);
    background-color: var(--light-blue);
}

.btn-light {
    border-radius: 5px;
    color: var(--dark-gray);
    border: 1px solid var(--gray);
}

.btn-light:hover {
    border: 1px solid var(--light-blue);
    color: var(--bs-blue);
    background-color: var(--light-blue);
}

.btn-gray-invert.active,
.btn-gray {
    background-color: #273e58;
    color: #fff;
}

.btn-gray-invert.active:hover,
.btn-gray:hover {
    background-color: #273e58;
    color: #fff;
    opacity: 0.6;
}

.btn-gray-invert {
    background-color: #edf2f7;
    color: #273e58;
}

.btn-gray-invert:hover {
    background-color: #edf2f7;
    color: #273e58;
    opacity: 0.6;
}

.btn-primary {
    font-weight: 500;
    color: var(--tip-blue);
    background-color: var(--light-blue);
    border: 1px solid var(--tip-blue);
}

.btn-primary:hover, .btn-primary:active, .btn-primary:focus {
    color: var(--tip-blue);
    background-color: var(--light-blue);
    border: 1px solid var(--tip-blue);
    opacity: 0.8;
}

.btn-secondary {
    font-weight: 500;
    color: var(--bs-white);
    background-color: var(--tip-blue);
    border: none;
}

.btn-secondary:hover, .btn-secondary:active, .btn-secondary:focus {
    color: var(--bs-white);
    background-color: var(--tip-blue);
    opacity: 0.8;
}

.btn-secondary-invert {
    font-weight: 500;
    color: var(--tip-blue);
    background-color: var(--bs-white);
    border: 1px solid var(--tip-blue);
}

.btn-secondary-invert:hover, .btn-secondary-invert:active, .btn-secondary-invert:focus {
    color: var(--tip-blue) !important;
    background-color: var(--bs-white) !important;
    border: 1px solid var(--tip-blue) !important;
    opacity: 0.8 !important;
}

.btn-primary:disabled, .btn-secondary:disabled, .btn-danger:disabled {
    color: var(--bs-black);
    background-color: var(--gray);
    border: none;
}

.btn-light-dash {
    border-width: 2px;
    border-style: dashed;
    border-color: var(--gray);
}

.btn-light-dash:hover {
    color: var(--bs-blue) !important;
    border-style: solid;
    border-width: 2px;
    border-color: var(--bs-blue);
    background-color: white;
}

.btn-danger-invert {
    border: 1px solid var(--bs-red);
    color: var(--bs-red) !important;
}

.btn-danger-invert:hover {
    background-color: var(--bs-red);
    color: white !important;
}

.btn-danger-secondary {
    background-color: var(--light-red);
    color: var(--bs-red) !important;
}

.btn-danger-secondary:hover {
    background-color: var(--light-red);
    color: var(--bs-red) !important;
    opacity: 0.6;
}

.btn-warning-secondary {
    background-color: var(--light-orange) !important;
    color: var(--bs-orange) !important;
}

.btn-warning-secondary:hover {
    box-shadow: 0px 0px 5px var(--bs-orange) !important;
}

.btn-warning-invert {
    border: 1px solid var(--bs-orange);
    color: var(--bs-orange);
}

.btn-warning-invert:hover {
    border: 1px solid var(--bs-orange);
    background-color: var(--bs-orange) !important;
    color: white;
    opacity: 0.6;
}

.btn-radio {
    background-color: var(--soft-gray);
}

.btn-radio:hover {
    background-color: var(--soft-blue);
}

.btn-check:checked + .btn-radio {
    background-color: var(--bs-blue);
    color:white;
}

.form-control-input {
    border-color: var(--bs-dark) !important;
}

.form-control-input:read-only {
    background-color: var(--bs-gray-100);
    border:none;
    color: var(--bs-blue);
}

.form-text {
    width:100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid var(--bs-gray);
    padding: 0px 5px;
    background-color: var(--bs-gray-100);
}

.form-text:focus {
    background-color: var(--light-blue);
}

.form-text.input-error {
    background-color: var(--light-red);
    border-bottom: 1px solid red;
}

.text-Approve1, .text-Approve2, .text-Approve3, .text-Approve4 {
    color: var(--bs-blue);
}

.text-Reject{
    color:var(--bs-red);
}

.text-Cancel {
    color: var(--bs-red);
}

.text-Work {
    color: var(--bs-orange);
}

.text-Complete{
    color:var(--bs-green);
}

.text-Active {
    color: var(--bs-green);
}

.text-primary {
    color: var(--tip-yellow) !important;
}

.text-secondary {
    color: var(--tip-blue) !important;
}

.text-green {
    color: var(--dark-green) !important;
}

.text-blue {
    color: var(--bs-blue) !important;
}

.text-orange {
    color: #f59123 !important;
}

.text-pink {
    color: var(--bs-pink);
}

.text-red {
    color: var(--bs-red);
}

.text-purple {
    color: var(--purple);
}

.text-gray {
    color: var(--label-gray);
}

.text-dark-gray{
    color:var(--dark-gray);
}

.text-light-gray{
    color:var(--bs-gray-500);
}

.text-soft-gray{
    color:var(--soft-gray);
}

.text-light-orange{
    color:var(--light-orange);
}

.text-teal {
    color: var(--bs-teal);
}

.bg-primary {
    background-color: var(--tip-yellow) !important;
}

.bg-secondary {
    background-color: var(--tip-blue) !important;
}

.bg-yellow {
    background-color: var(--tip-yellow);
}

.bg-light {
    background-color: #fcfcfc !important;
}

.bg-light-hover:hover {
    background-color: var(--light-blue) !important;
}

.bg-light-gray {
    background-color: var(--light-gray) !important;
}

.bg-soft-gray {
    background-color: var(--soft-gray) !important;
}

.bg-light-orange {
    background-color: var(--light-orange) !important;
    color: var(--bs-orange) !important;
}

.bg-light-green {
    background-color: var(--light-green) !important;
    color: var(--bs-green);
}

.bg-light-red {
    background-color: var(--light-red) !important;
    color: var(--bs-red);
}

.bg-soft-orange {
    background-color: var(--soft-orange) !important;
}

.bg-Active {
    background-color: #eef3f6;
    color: #202020;
}

.bg-Paid {
    background-color: #eef8ec;
    color: #49aa3c;
}

.bg-blue {
    background-color: var(--bs-blue);
    color: #fff;
}

.bg-green {
    background-color: var(--dark-green);
    color: #fff;
}

.bg-light-blue {
    background-color: var(--light-blue);
    color: var(--bs-blue);
}

.bg-soft-blue {
    background-color: var(--soft-blue);
}

.bg-soft-green {
    background-color: var(--soft-green);
}

.bg-warning {
    background-color: var(--orange);
    color: var(--dark-gray);
}

.bg-warning-invert {
    background-color: var(--dark-gray);
    color: var(--orange);
}

.bg-orange{
    background-color:var(--orange);
}

.bg-teal {
    background-color: var(--bs-teal);
}

.btn-logo{
    background-color: var(--bs-teal) !important;
    color: white !important;
}

.box-shadow {
    border: 1px solid white;
    box-shadow: 0px 4px 2px var(--gray);
    background-color: white;
    cursor: pointer;
    transition: 0.3s;
}

.box-shadow:hover{
    background-color:var(--light-blue);
    border:1px solid var(--bs-blue);
}

.btn-orange {
    color: var(--bs-white);
    background-color: var(--orange);
}

.btn-orange:hover {
    color: var(--bs-white);
    background-color: var(--orange);
    opacity: 0.8;
}

.btn-orange-invert {
    color: #f59123;
    background-color: #fef3e7;
}

.btn-orange-invert:hover {
    color: #f59123;
    background-color: #fef3e7;
    opacity: 0.6;
}

.btn-orange-invert.active {
    color: #fff;
    background-color: #f59123;
}

.btn-orange-invert.active:hover {
    color: #fff;
    background-color: #f59123;
    opacity: 0.6;
}

.btn-teal {
    color: var(--bs-white);
    background-color: var(--bs-teal);
}

.btn-teal:hover {
    color: var(--bs-white);
    background-color: var(--bs-teal);
    opacity: 0.8;
}

.bg-purple {
    background-color: #f4ebfa;
    color: #9847d1;
}

.bg-Settle {
    background-color: #feeee7;
    color: #f46a24;
}

.bg-Expire {
    background-color: #595959;
    color: #f2f2f2;
}

.bg-gray {
    background-color: #edf2f7;
    color: #273e58;
}

.bg-dark-gray {
    background-color: var(--dark-gray);
}

.box-icon {
    background-color: #edf2f7 !important;
    min-width: 100px;
}

.fa-mobile {
    color: #37567c;
}

.link-menu {
    background-color: #eef3f6;
    border-radius: 15px;
    cursor: pointer;
}

.link-menu.active {
    background-color: #e8edfd;
    color: #273e58;
    border-radius: 5px;
}

.list-group-item-action{

}

.is_favorite {
    color: #f7c922;
}

.is_favorite:hover {
    color: #f7c922;
    opacity: 0.6;
}

.overflow-auto::-webkit-scrollbar-thumb {
    background-color: var(--bs-gray-400);
    border: 4px solid transparent;
    border-radius: 8px;
    background-clip: padding-box;
}

.overflow-auto::-webkit-scrollbar {
    width: 16px;
}


.panel {
    border: 1px solid var(--gray);
    border-radius: 15px;
    padding: 28px 15px 15px 15px;
    position: relative;
    margin: 10px 0px;
    background-color: #fff;
}

.panel-label {
    position: absolute;
    top: -18px;
    left: 20px;
    border-radius: 15px;
    background-color: #fff;
    padding: 5px;
}

.fs-6 {
    font-size: 1rem !important;
}

/* Calendar */
.icon-clock {
    background-image: url('../images/clock.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.icon-calendar {
    background-image: url('../images/calendar.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

.icon-search {
    background-image: url('../images/search.png');
    background-repeat: no-repeat;
    background-position: right 5px center;
}

@media (min-width: 992px) {
    .col-1-of-10 {
        flex: 0 0 auto;
        width: 10%;
    }

    .col-1-of-5 {
        flex: 0 0 auto;
        width: 20%;
    }

    .select {
        cursor: pointer;
    }
}

.table-tip {
    margin-bottom: 0;
    border: 1px solid var(--bs-gray-200);
    border-collapse: separate; /* สำคัญมาก */
    border-spacing: 0;
    border-radius: 15px;
    overflow: hidden; /* ทำให้มุมโค้งเห็นผล */
}

.table-tip > thead > tr > th {
    background-color: #f8fafc;
    color: var(--bs-gray-600);
    padding: 10px 15px;
}

.table-tip > tbody > tr:hover {
    background-color: rgb(229, 236, 255, 30%);
    opacity: 0.7;
}

tr.requets > td {
    color: var(--bs-blue);
}

tr.cancel > td {
    color: var(--bs-gray);
}

tr.reject > td {
    color: var(--bs-danger);
    background-color: var(--light-red);
}

tr.approve > td {
    color: var(--bs-blue);
}

tr.work > td {
    color: var(--bs-orange);
}

tr.assign > td {
    color: var(--purple);
}

tr.complete > td {
    color: var(--bs-green);
    background-color: var(--light-green);
}

tr.change > td {
    color: var(--purple);
}

tr.alert > td {
    background-color: var(--light-blue);
    font-weight: bolder;
    color: var(--tip-blue);
}

/*Preloader*/
#preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fff; /* change if the mask should have another color then white */
    opacity: 0.6;
    z-index: 1100; /* makes sure it stays on top */
    display: none;
}

#status, #img-pre {
    width: 200px;
    height: 200px;
    position: absolute;
    left: 50%; /* centers the loading animation horizontally one the screen */
    top: 50%; /* centers the loading animation vertically one the screen */
    background-image: url(../images/loading.gif); /* path to your loading animation */
    background-repeat: no-repeat;
    background-position: center;
    margin: -100px 0 0 -100px; /* is width and height divided by two */
}

.border-dash{
    border-style: dashed !important;
    border-width: 2px !important;
}

.border-ranbow {
    --angle: 0deg;
    border: 10px solid #fff;
}


.border-ranbow.active {
    --angle: 0deg;
    border-image: conic-gradient(from var(--angle), red, yellow, lime, aqua, blue, magenta, red) 1;
    animation: 10s rotate linear infinite;
}

@keyframes rotate {
    to {
        --angle: 360deg;
    }
}

@property --angle {
    syntax: '<angle>';
    initial-value: 0deg;
    inherits: false;
}
